  {% load static %}
<div id="sidebar">
  <div class="sidebar-brand">
    <div class="brand-badge">
        <img src="{% static 'img/logo.png' %}" class="brand-icon" alt="logo">
      <div>
        <div class="brand-text">EKBANG</div>
        <div class="brand-sub">Sistem Informasi Kecamatan</div>
      </div>
    </div>
  </div>

  <div class="sidebar-user">
    <div class="user-avatar">{{ request.user.username|first|upper }}</div>
    <div>
      <div class="user-name">{{ request.user.username }}</div>
      <div class="user-role">Admin Kecamatan</div>
    </div>
  </div>

  <div class="sidebar-nav">
    <div class="nav-label">Menu Utama</div>

    <a href="{% url 'dashboard_kecamatan' %}"
       class="nav-item {% if request.resolver_match.url_name == 'dashboard_kecamatan' %}active{% endif %}">
      <i class="bi bi-speedometer2"></i> Dashboard
    </a>
    <a href="{% url 'bumdes_list_kecamatan' %}"
       class="nav-item {% if 'bumdes' in request.resolver_match.url_name %}active{% endif %}">
      <i class="bi bi-shop"></i> BUMDes
    </a>
    <a href="{% url 'bltdd_list_kecamatan' %}"
       class="nav-item {% if 'bltdd' in request.resolver_match.url_name %}active{% endif %}">
      <i class="bi bi-cash-stack"></i> BLT Dana Desa
    </a>
    <a href="{% url 'infrastruktur_list_kecamatan' %}"
       class="nav-item {% if 'infrastruktur' in request.resolver_match.url_name %}active{% endif %}">
      <i class="bi bi-buildings"></i> Infrastruktur
    </a>

    
    <a href="{% url 'koperasi_list_kecamatan' %}"
       class="nav-item {% if 'koperasi' in request.resolver_match.url_name %}active{% endif %}">
      <i class="bi bi-people"></i> Koperasi
    </a>
    <a href="{% url 'ketahanan_pangan_list_kecamatan' %}"
       class="nav-item {% if 'ketahanan_pangan' in request.resolver_match.url_name %}active{% endif %}">
      <i class="bi bi-basket"></i> Ketahanan Pangan
    </a>

    <div class="nav-label" style="margin-top:12px;">Manajemen</div>
    <a href="{% url 'buat_akun_desa' %}"
       class="nav-item {% if request.resolver_match.url_name == 'buat_akun_desa' %}active{% endif %}">
      <i class="bi bi-person-plus"></i> Buat Akun Desa
    </a>
    <a href="{% url 'desa_create' %}"
       class="nav-item {% if request.resolver_match.url_name == 'buat_akun_desa' %}active{% endif %}">
      <i class="bi bi-person-plus"></i> Tambah Desa
    </a>
      <a href="{% url 'review_list' %}"
    class="nav-item {% if 'review' in request.resolver_match.url_name %}active{% endif %}">
    <i class="bi bi-clipboard-check"></i> Review Permohonan
    <span class="nav-badge" id="notif-badge" style="display:none;">0</span>
  </a>
  </div>

  <div class="sidebar-footer">
   <form action="{% url 'logout' %}" method="POST">
  {% csrf_token %}
  <button type="submit" class="nav-item" style="color:#fca5a5; border:none; background:none;">
    <i class="bi bi-box-arrow-left"></i> Logout
  </button>
</form>
  </div>
</div>